html {
        box-sizing: border-box;
         font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
        box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto; /* 0 auto 0 auto alinea horizontalmente */   
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
    color: #009cff;
}
h3 {
    font-size: 3rem;
    color: #009cff;
    font-weight: 300;
}
h4 {
    font-size: 2.6rem;
}
p {
    font-weight: 300;
}
.linea-baja::after {
    content: '';
    background: #333;
    display: block;
    width: 200px;
    height: 1px;
    margin: auto; 
}
/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
/** Boton Arriba **/
.simplescrollup__button {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    transition: 1s all;
    z-index: 10000;
}
.simplescrollup__button--show {
    transform: translateX(0);
}
.simplescrollup__button--hide {
    transform: translateX(100px);
}
.fa-arrow-alt-circle-up {
    font-size: 3rem;
    color: #009cff;
}
/** Botones **/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block; /** Quita valor inicial de los enlaces display:inline, y permite dar tamaño que deseamos, con display:block toma todo el ancho del contenedor**/
}
.boton:hover {
    background-color: #333;  
    transition: all 12s ease;  
    -webkit-transition: background-color .9s ease 0s;
    -moz-transition: background-color .9s ease 0s;
}
.boton-informacion {
    background-color: #009cff;
}
/** Header **/
.site-header.inicio {
    background-image: url(../img/header.jpg);
    height: 80vh;  /* Maximo tamano */
    min-height: 60rem; /* Minimo tamano */
    background-position: center center; /* Centra imagen desde el centro hacia afuera    */
    background-size: cover; /* distribuye toda la imagen  */
}
.contenido-header {
    height: 100%; /** Ocupa todo el espacio del contenedor**/
    display: flex; /** Alineamos verticalmente los elemenos**/
    flex-direction: column; /** Cambiamos direccion del flex**/
    justify-content: space-between; 
}
.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 50rem;
}
.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem; /* Margen por dentro */
    align-items: center; /** Alinea Verticalmente **/
}
/** Navegacion **/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:last-of-type {
    margin: 0;
}
.navegacion a:hover {
    color: #71B100;
}
/** Sobre Nosotros **/
.icono img {
    width: 30rem;
    height: 20rem;
}
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3 {
    line-height: 1;
    margin: 0;
}
.icono:hover {
    box-shadow: 5px 7px 9px -3px rgba(0, 156, 255, 0.5);
    cursor: pointer;
}
/** Experiencia **/
.contenido-experiencia span {
    color: #009cff;
    font-weight: 900;
    font-size: 8rem;
}
.contenido-experiencia {
    margin-bottom: 10rem; 
}
/** Calidad de Servicico **/
.contenedor-calidad {
    display: flex;
    justify-content: space-between;
}
.calidad {
    flex-basis: calc(25% - 2.2rem);
    text-align: center;
    background-color: #f4f4f4;    
}
.contenido-calidad {
    padding: 3.2rem;
}
.contenido-calidad h4 {
    line-height: 1;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #009cff;
}
.contenido-calidad p {
    margin-top: 3rem; 
    color: #333;
}
.box-icon{
    margin-top: -5rem;
    background-color: #009cff;
    border-radius: 50%; 
    width: 10rem;
    height: 10rem; 
    display: inline-block;
}
.calidad i {
    font-size: 4.5rem;
    color: #ffffff; 
    line-height: 100px;
}
.box-icon:hover {
    background-color: #333;  
    transition: all 12s ease;  
    -webkit-transition: background-color .9s ease 0s;
    -moz-transition: background-color .9s ease 0s;
}
